<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Data do Lançamento</th>
        <th scope="col">Descricão</th>
        <th scope="col">Número</th>
        <th scope="col">Data de Confirmação</th>
        <th scope="col">Dados Bancários</th>
        <th scope="col">Valor Final</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pay of payments" > 
        <th scope="row"></th>
        <td>{{pay.dataLancamentoContaCorrenteCliente}}</td>
        <td>{{pay.descricaoGrupoPagamento}}</td>
        <td>{{pay.numeroRaizCNPJ}}</td>
        <td>{{pay.dataEfetivaLancamento}}</td>
        <td>{{pay.codigoIdentificadorUnico}}</td>
        <td>R$ {{pay.valorLancamentoRemessa}}</td>
      </tr>
     
    </tbody>
  </table>