<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Data do Lançamento</th>
        <th scope="col">Descricão</th>
        <th scope="col">Número</th>
        <th scope="col">Data de Confirmação</th>
        <th scope="col">Dados Bancários</th>
        <th scope="col">Valor Final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>{{dataLanc}}</td>
        <td>{{descricao}}</td>
        <td>{{numero}}</td>
        <td>{{dataConfirma}}</td>
        <td>{{dadosBancarios}}</td>
        <td>R$ {{valorFinal}}</td>
      </tr>
     
    </tbody>
  </table>