<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Data do Lançamento</th>
        <th scope="col">Descricão</th>
        <th scope="col">Número</th>
        <th scope="col">Data de Confirmação</th>
        <th scope="col">Dados Bancários</th>
        <th scope="col">Valor Final</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pay of payments" > 
        <th scope="row"></th>
        <td *ngIf="pay.dataLancamentoContaCorrenteCliente">{{pay.dataLancamentoContaCorrenteCliente}}</td>
        <td *ngIf="pay.descricaoGrupoPagamento">{{pay.descricaoGrupoPagamento}}</td>
        <td *ngIf="pay.numeroRaizCNPJ">{{pay.numeroRaizCNPJ}}</td>
        <td *ngIf="pay.dataEfetivaLancamento">{{pay.dataEfetivaLancamento}}</td>
        <td *ngIf="pay.codigoIdentificadorUnico">{{pay.codigoIdentificadorUnico}}</td>
        <td *ngIf="pay.valorLancamentoRemessa">R$ {{pay.valorLancamentoRemessa}}</td>
      </tr>
     
    </tbody>
  </table>